@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
}

.body-gradient {
  background: linear-gradient(#f4eeeb, #eee0da);
}

.wave-fill-light {
  fill: #eee0da;
}
.wave-fill-dark {
  fill: #ddcecc;
}
.wave-stroke {
  stroke: #eee0da;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.wave-clip {
  clip-path: url(#waveClip);
}

.wave-mask {
  -webkit-mask-image: url(/wave-mask.png);
  -webkit-mask-position: left top;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;

  mask-image: url(/wave-mask.png);
  mask-position: left top;
  mask-repeat: no-repeat;
  mask-size: 100%;
}
